---
services:
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - sabnzbd_data:/config
      - ${DOWNLOADS_PATH}:/downloads #optional
    ports:
      - 8080:8080
    networks:
      - vpn_network
    restart: unless-stopped
  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: transmission
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - transmission_data:/config
      - ${DOWNLOADS_PATH}:/downloads #optional
    ports:
      - 9091:9091
    networks:
      - vpn_network
    restart: unless-stopped
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - qbittorrent_data:/config
      - ${DOWNLOADS_PATH}:/downloads #optional
    ports:
      - 8080:8080
    networks:
      - vpn_network
    restart: unless-stopped
  deluge:
    image: lscr.io/linuxserver/deluge:latest
    container_name: deluge
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - deluge_data:/config
      - ${DOWNLOADS_PATH}:/downloads #optional
    ports:
      - 8112:8112
    networks:
      - vpn_network
    restart: unless-stopped
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      # Route traffic through gluetun VPN
      - HTTP_PROXY=http://gluetun:8888
      - HTTPS_PROXY=http://gluetun:8888
    volumes:
      - sonarr_data:/config
      - ${TV_PATH}:/media/tv #optional
      - ${DOWNLOADS_PATH}:/downloads #optional
    ports:
      - 8989:8989
    networks:
      - vpn_network
    restart: unless-stopped
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      # Route traffic through gluetun VPN
      - HTTP_PROXY=http://gluetun:8888
      - HTTPS_PROXY=http://gluetun:8888
    volumes:
      - radarr_data:/config
      - ${MOVIES_PATH}:/media/movies #optional
      - ${DOWNLOADS_PATH}:/downloads #optional
    ports:
      - 7878:7878
    networks:
      - vpn_network
    restart: unless-stopped
  radarr-4k:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr-4k
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      # Route traffic through gluetun VPN
      - HTTP_PROXY=http://gluetun:8888
      - HTTPS_PROXY=http://gluetun:8888
    volumes:
      - radarr_4k_data:/config
      - ${4K_MOVIES_PATH}:/media/movies #optional
      - ${DOWNLOADS_PATH}:/downloads #optional
    ports:
      - 7879:7878
    networks:
      - vpn_network
    restart: unless-stopped
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      # Route traffic through gluetun VPN
      - HTTP_PROXY=http://gluetun:8888
      - HTTPS_PROXY=http://gluetun:8888
    volumes:
      - prowlarr_data:/config
    ports:
      - 9696:9696
    networks:
      - vpn_network
    restart: unless-stopped
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      # Route traffic through gluetun VPN
      - HTTP_PROXY=http://gluetun:8888
      - HTTPS_PROXY=http://gluetun:8888
    volumes:
      - bazarr_data:/config
      - ${MOVIES_PATH}:/media/movies #optional
      - ${TV_PATH}:/media/tv #optional
      - ${4K_PATH}:/media/4k #optional
      - ${DOWNLOADS_PATH}:/downloads #optional
      - ${MUSIC_PATH}:/media/music #optional
    ports:
      - 6767:6767
    networks:
      - vpn_network
    restart: unless-stopped

volumes:
  sonarr_data:
    name: sonarr_data
  radarr_data:
    name: radarr_data
  radarr_4k_data:
    name: radarr_4k_data
  prowlarr_data:
    name: prowlarr_data
  bazarr_data:
    name: bazarr_data

networks:
  vpn_network:
    name: vpn_network
    external: true
