services:
  portainer_agent:
    container_name: portainer_agent
    image: portainer/agent:latest
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
    ports:
      - 9001:9001

networks:
  default:
    name: portainer_agent_network
